extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img sobre nostros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut feugiat massa, Sed maximus non ligula sed convallis. Etiam metus elit, tristique a imperdiet sed, mollis vehicula justo. Sed tincidunt enim a auctor rhoncus. Nam in erat purus. Vestibulum vitae sollicitudin elit. Suspendisse ac tristique nunc. Nunc interdum tortor sit amet est tempor, eu tempus magna semper. Nullam volutpat molestie enim, vel aliquet risus porttitor eget. Mauris varius eros tellus, quis suscipit velit dictum vitae. Fusce semper
                p Pellentesque ultrices, erat nec iaculis pretium, nibh massa pellentesque mi, vitae pulvinar erat odio sed arcu. Sed maximus non ligula sed convallis. Etiam metus elit, tristique a imperdiet sed, mollis vehicula justo. Sed tincidunt enim a auctor rhoncus. Nam in erat purus. Vestibulum vitae sollicitudin elit. Suspendisse ac tristique nunc.
                p In vitae enim lobortis, maximus neque id, molestie turpis. In massa turpis, vulputate eu massa in, finibus fringilla ligula. Donec a dolor ac arcu rhoncus commodo aliquam eu enim. Curabitur congue diam vitae 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="img de seguridad",class="img-fluid mb-4")
                    h2.mg-4 Seguridad 
                    p In vitae enim lobortis, maximus neque id, molestie turpis. In massa turpis, vulputate eu massa in, finibus fringilla ligula.Pellentesque ultrices.enim lobortis, maximus neque id.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="img de destinos",class="img-fluid mb-4")
                    h2.mg-4 Mejores Destinos 
                    p In vitae enim lobortis, maximus neque id, molestie turpis. In massa turpis, vulputate eu massa in.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="img de precios",class="img-fluid mb-4")
                    h2.mg-4 Los mejores Precios 
                    p In vitae enim lobortis, maximus neque id, molestie turpis. In massa turpis, vulputate eu massa in, finibus fringilla ligula.Pellentesque ultrices.
                